
<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <h1 id="logo">My <span>Yard Sale</span></h1>
        <!-- <div class="navbar-header">
            <p class="navbar-brand">My Yard Sale</p>
        </div> -->
        <div class="navbar-header">
            
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/customers">Customers</a></li>
                
            </ul>
            
        </div>
        
    </div>
    
</nav>
